@import '_variables';

/*--------------------------------------------------------------
CSS Grid layout for modern browsers:
--------------------------------------------------------------*/
@supports (grid-area: auto) {
	@media screen and (min-width: 768px) {
    .financials-table {
      margin: 0 1.5vw;

      table {
        thead {
          background: $transparent-white;
          width: 63vw;

          th  {
            font-family: Quattrocento;
            font-size: 2vw;
            font-style: normal;
          }

          td {
            color: $blue-grey;
            font-weight: normal;
            text-align: left;
            text-transform: none;
          }
        }

        tbody {
          .sub-head {
            background: $transparent-white;

            td {
              text-align: left;
              color: $dark-blue;
              font-size: 1.5vw;
            }

            th {
              width: 10vw;

              color: $blue-grey;
              font-weight: normal;
              font-style: italic;
            }
          }
        }

        .side-head {
          width: 10vw;
          padding-left: 3vw;

          font-size: 1.25vw;
          font-weight: normal;
          font-style: italic;
          text-align: left;
          color: $blue-grey;
          background: $transparent-white;
          border-top: 1px solid $table-outline;
          border-bottom: 1px solid $table-outline;
        }

        td {
          width: 12vw;
          text-align: center;
        }
      }
    }
  }
}
