@import '_variables';

/*--------------------------------------------------------------
CSS Grid layout for modern browsers:
--------------------------------------------------------------*/
@supports (grid-area: auto) {
	@media screen and (min-width: 768px) {
		.home {
			display: grid;
			height:100vh;

			grid-template-columns: 30% 5% auto 5%;
			grid-template-rows: 10% 10% 5% auto;
		}

		.home-h1 {
			grid-column: 3;
			grid-row: 2;
			font-size: 300%;
			color: $dark-blue
		}

		.home-data {
			height: 90%;
			grid-column: 3;
			grid-row: 4;
			background-color: $background-grey;
			border-radius: 25px;
			align-self: right
		}

		.sidebar {
			display: inherit;
			grid-column: 2/5;
			grid-row: 3;
		}

		.nav-btn {
	    background: transparent;
	    border: none !important;
			opacity: .2;
		}

		.nav-btn:hover {
			opacity: 1;
		  text-shadow: 1px 1px 2px $dark-grey;
		}

		.nav-btn:last-of-type {
			grid-column: 5;
		}
	}

	.app-data {
		display: grid;
		grid-area: main;
			grid-template:
				"heading heading"
				"left right";
		}

		.home-h2 {
			grid-area: heading;
			align-self: center;
		}

}
