@import '_variables';

/*--------------------------------------------------------------
CSS Grid layout for modern browsers:
--------------------------------------------------------------*/
@supports (grid-area: auto) {
	@media screen and (min-width: 768px) {
		.landing-search {
			height: 100vh;
			width: 100vw;

			display: grid;
			grid-template-columns:  10vw 10vw 70vw 10vw;
			grid-template-rows: 13vh 35vh 54vh;

			.logo-headings {
				grid-column: 3;
				grid-row: 2;
				height: 33vh;
				width: 70vw;

				display: grid;
				grid-template-columns: 15vw 55vw;
				grid-template-rows: 17vh 8vh 8vh;

				.logo {
					grid-column: 1;
					grid-row: 1;

					width: 18vh;
					height: auto;

					justify-self: right;
					align-self: center;
				}

				.title {
					grid-column: 2;
					grid-row: 1;

					justify-self: left;
					margin-top: -6vh;

					font-size: 16vh;
					text-shadow: 0 -1px $background-green, // TOP
											 1px 0 $background-green, // RIGHT
											 0 1.5px $heading-border, // BOTTOM
											 -1.5px 0 $heading-border, // LEFT

				}

				.home-h2 {
					grid-column: 2;
					grid-row: 2;

					padding: 0;
					text-align: left;
					align-self: center;

					font-size: 4vh;
					color: $pale-green;
					font-style: italic;
				}

				p {
					grid-column: 1/3;
					grid-row: 3;

					width: 50vw;
					text-align: center;
					justify-self: center;
					align-self: center;

					color: $off-white;
					font-size: 3vh;
				}
			}

			.home-data {
				grid-column: 2/4;
				grid-row: 3;

				height: auto;
				width: 80vw;

				display: grid;
				grid-template-columns: 10vw 70vw;
				grid-template-rows: 1fr;

				.stock-search-container {
					grid-column: 2;
					grid-row: 1;

					height: 50vh;
					width: 70vw;
					overflow-y: hidden;
					display: grid;
					grid-template-columns: auto;
					grid-template-rows: 10vh 35vh;
					grid-row-gap: 1vh;

					.home-search {
						grid-column: 2;
						grid-row: 1;

						height: 45vh;
						width: 70vw;
						justify-self: center;

						display: grid;
						grid-template-columns: 15vw 40vw 15vw;
						grid-template-rows: 15vh 30vh;

						.search {
							grid-column: 2;
							grid-row: 1;

							width: 40vw;

							display: grid;
							grid-template-columns: repeat(4, 1fr);
							grid-template-rows: 1fr;

							input[type=text] {
								grid-column: 2/3;
								grid-row: 1;

								justify-self: center;
								width: 40vw;
								margin-bottom: 4vh;

								color: $off-white;
								font-size: 7vh;
								background-color: $transparent;
								border: none;
								border-bottom: .5px solid $off-white;
							}

							.submit-search {
								grid-column: 2;
								grid-row: 1;

								justify-self: right;
								align-self: center;
								margin-bottom: 2vh;

								z-index: 2;

								input[type="submit"] {
									background: $background-grey;
									font-size: 4vh;
									color: $blue-grey;
									border-color: $blue-grey;
									border-style: solid;
									border-radius: .5vw;
								}

								input[type="submit"]:hover {
									background: $transparent-white;
									color: $background-grey;
									border-color: $background-grey;
								}
							}
						}
					}

					.search-help  {
						grid-column: 2;
						grid-row: 2;

						margin-top: 2vh;

						ul {
							h3:not(:first-child) {
								color: $main-blue;
							}

							h3:not(:first-child):hover {
								color: white;
							}
						}
					}

					.search-suggestions {
						grid-column: 2;
						grid-row: 2;

						justify-self: center;
						margin-top: 0;
						width: 40vw;

						background-color: $suggestion-bg;

						ul > li {
							color: $transparent-white;
							font-size: 2.25vh;
							padding-bottom: .5vh;

							opacity: .9;
						}

						ul > li:hover {
							opacity: 1;
							color: white;
						}
					}
				}
				.search-show {
					display: none;
				}
			}

			.initial-sub, .initial, .searched {
				display: none;
			}
		}

		.home-show {
			height: 100vh;
			width: 100vw;

			display: grid;
			grid-template-columns:  10vw 10vw 70vw 10vw;
			grid-template-rows: 15vh 33vh 52vh;

			.logo-headings {
				grid-column: 1/4;
				grid-row: 1;

				display: grid;
				grid-template-columns: 10vw 80vw;

				.logo {
					grid-column: 1;
					grid-row: 1;

					align-self: center;
					margin-left: auto;

					width: 11.5vh;
					height: auto;
				}

				.title {
					grid-column: 2;
					grid-row: 1;

					align-self: center;
					padding-left: .75vw;

					font-size: 7vh;
					font-weight: 100;
					text-align: left;
					color: $transparent-white;
					text-shadow: 0 -1px $background-green, // TOP
											 1px 0 $background-green, // RIGHT
											 0 1.5px $heading-border, // BOTTOM
											 -1.5px 0 $heading-border, // LEFT
				}

				.home-h2, p {
					display: none;
				}
			}

			.home-data {
				grid-column: 2/4;
				grid-row: 2;

				height: 83vh;
				width: 85vw;

				.sample-container {
					height: 83vh;
				  width: 86vw;

					display: grid;
					grid-template-columns: 16.5vw 2vw 66.5vw;
					grid-template-rows: 13vh 65vh;
					grid-column-gap: .5vw;
					grid-row-gap: 1vh;

					.stock-header {
						grid-column: 1/4;
						grid-row: 1;

						height: 11vh;
						width: 86vw;

						background-color: $off-white;
						border-top: 5px solid $dark-blue;
						border-bottom: 5px solid $dark-blue;
						box-shadow: 0 4px 2px -2px  $off-white,
										    0px -2px  2px   $off-white;

						display: inherit;
						grid-template-columns: 53vw 35vw;
						grid-template-rows: auto;
						.top {
							grid-column: 1;
							grid-row: 1;

							margin-left: 1vh;

							display: inherit;
							grid-template-columns: 8vh 7fr;
							grid-template-rows: auto;
							grid-column-gap: .75vw;

							.logo {
								grid-column: 1;
								grid-row: 1;

								align-self: center;
								justify-self: center;

								height: auto;
								width: 8vh;
							}

							.name {
								grid-column: 2;
								grid-row: 1;

								padding: 0;
								font-size: 4.5vh;
								text-align: left;
								align-self: center;
								color: $dark-blue;
							}
						}

						.data {
							grid-column: 2;
							grid-row: 1;

							display: grid;
							grid-template-columns: auto auto;
							grid-template-rows: auto auto;

							div {
								display: grid;
								grid-template-columns: auto;
								grid-template-rows:  auto auto;

								h3 {
									grid-column: auto;
									grid-row: 1;

									font-family: 'Quattrocento Sans';
									font-size: 1.25vw;
									font-style: italic;
									color: $dark-green;
									text-align: left;
									padding: 0;
								}

								.display-data {
									grid-column: auto;
									grid-row: 2;

									font-family: 'Martel';
									font-size: 1.75vw;
									font-weight: 100;
									padding-left: 1vw;
								}
							}

							.price {
								grid-column: 1;
								grid-row: 1/3;

								h3 {
									grid-column: auto;
									grid-row: 1;
								}

								.display-data {
									font-size: 2.75vw;
								}
							}
						}

						.total {
							grid-column: 2;
							grid-row: 1;
						}

						.percent  {
							grid-column: 3;
							grid-row: 1;
						}

						.time {
							grid-column: 2;
							grid-row: 1;

							align-self: end;
							text-align: end;
							padding-right: 2.5vw;

							font-family: Quattrocento Sans;
							font-style: italic;
							font-size: 1vw;
					    color: $blue-grey;
							opacity: .5;
						}
					}

					.stock-summary {
						grid-column: 1/3;
						grid-row: 2;

						height: auto;
						width: 18vw;
						justify-self: center;

						h2 {
							width: 18vw;
							margin: auto;
							padding: 1vh 0 .5vh 0;

							font-size: 1.5vw;
							background-color: $transparent-white;
							border-radius: .25vw .25vw 0 0;
						}

						table {
							width: 18vw;
							margin: auto;
							border: 3px solid $transparent-white;
							background-color: white;
							font-size: 1.25vw;
						}
					}

					.greeting-component {
						grid-column: 1/4;
						grid-row: 1/3;

						.logo-headings {
							width: 80vw;

							display: grid;
							grid-template-columns: 15vw 15vw 35vw 10vw;
							grid-template-rows: 10vh 20vh;

							h3 {
								grid-column: 2/4;
								grid-row: 1;

								justify-self: left;

								font-size: 4vw;
								font-style: italic;
								color: $news-back;
							}

							.logo {
								grid-column: 2;
								grid-row: 2;

								width: 10vw;
							}

							.title {
								grid-column: 3;
								grid-row: 2;

								font-size: 10vw;
								color: $dark-blue;
							}
						}
					}

					.stock-component {
						grid-column: 3;
						grid-row: 2;

						height: 68vh;
						width: 67vw;
						overflow: hidden;

						border-radius: .5vw .25vw;

						display: grid;
						grid-template-columns: auto;
						grid-template-rows: 6vh 60vh;

						.component-heading {
							align-self: start;
							height: 6.25vh;
							padding: 0;

							font-style: italic;

							background-color: $transparent-white;
						}

					  .financials-table {
						  grid-column: 1;
						  grid-row: 2;

							height: 60vh;
							width: 67vw;
							margin-left: auto;
							margin-right: auto;
						  overflow-y: scroll;
					  }

						.chart-container {
							grid-column: 1;
							grid-row: 2;

							height: 64vh;
							width: 67vw;

							button {
								font-size: 1vw;
							}

							.chart-title {
								color: $dark-grey;

								h2 {
									font-size: 2vw;
								}

								h3 {
									font-size: 1.25vw;
								}
							}

							.chart {
								height: 55vh;
								width: 66vw;
							}

							.graph-type-button {
								height: 5vh;
								width: 7vw;
							}
						}

						.news {
							width: 69vw;
							height: 65vh;
							overflow: scroll;
							border-radius: .25vw;

							h1 {
								font-size: 1.75vw;
								font-weight: 900;
								width: 65vw;
							}

							h3 {
								font-size: 1vw;
							}

							h4 {
								font-size: 1vw;
							}

							.story-list {
								width: 60vw;

								h2 {
									font-size: 1.25vw;
								}

								p {
									font-size: 1vw;
								}

								div:hover {
									transform: scale(1.1);
								}
							}
						}

						.earnings-table {
							align-self: center;
							justify-self: center;

							table {
								width: 60vw;
								height: 50vh;

								th {
									font-size: 1.5vw;
								}

								td {
									font-size: 1.5vw;
								}
							}
						}

						.earnings-table {
							align-self: center;
							justify-self: center;

							table {
								width: 60vw;
								height: 50vh;

								th {
									font-size: 1.5vw;
								}

								td {
									font-size: 1.5vw;
								}
							}
						}

						.company-data {
							background-color: $transparent-white;
							width: 67vw;

							display: grid;
							grid-template-columns: 2.5vw 30vw 1vw 30vw 2.5vw;
							grid-template-rows: 5vw 40vh;

							h2 {
								grid-column: 1/6;
								grid-row: 1;

								justify-self: center;

								font-size: 2vw;
							}

							p {
								grid-column:2;
								grid-row: 2;

								font-size: 1.25vw;
							}

							table {
								grid-column: 4;
								grid-row: 2/3;
							}

							div {
								grid-column: 2;
								grid-row: 3;

								font-size: 1.25vw;
							}
						}
					}

					.league-component {
						grid-column: 1/4;
						grid-row: 1/3;

						height: 83vh;
					  width: 90vw;

						margin-left: -5vw;
						display: grid;
						grid-template-columns: 18vw 72vw;
						grid-template-rows: 7vh 75vh;
						grid-row-gap: 2vh;

						.component-heading {
							grid-column: 1/3;
							grid-row: 1;

							font-family: 'Martel', sans-serif;
							font-style: italic;
							font-size: 2.5vw;
							color: white;
							font-weight: 400;
							text-shadow: 0 -1px rgba(119, 135, 139, 0.5),
													 1px 0 rgba(119, 135, 139, 0.5),
													 0 1.5px rgba(184, 224, 250, 0.5),
													 -1.5px 0 rgba(184, 224, 250, 0.5);
						}

						.league-show {
							grid-column: 1/3;
							grid-row: 2;
							height: 73vh;
							width: 90vw;

							display: grid;
							grid-template-columns: 18vw 71vw;
							grid-template-rows: 7.5vh 78vh;
							grid-column-gap: 1vw;

							.league-index-header  {
								grid-column: 1;
								grid-row: 1;

								height: 5vh;
								width: auto;

								h1 {
									align-self: center;
								}
							}

							.league-index {
								grid-column: 1;
								grid-row: 2;

								width: 18vw;
								height: 65vh;
								padding: 0;

								overflow: hidden;

								.grid-item {
									height: auto;
									width: auto;

									margin-bottom: -1vh;
									margin-left: 2vw;

									h1 {
										text-align: left;
									}
								}
							}

							.league-container {
								grid-column: 2;
								grid-row: 1/3;

								height: 73vh;
								width: 75vw;

								display: grid;
								grid-template-columns: auto;
								grid-template-rows: auto;

								.league {
									grid-column: auto;
									grid-column: auto;

									justify-self: auto;

									height: 68vh;
									width: 75vw;

									grid-template-columns: 50vw 25vw;

									.league-title {
										height: 9vh;
										width: 75vw;

										grid-template-columns: 50vw 10vw 5vw;

										h1 {
											font-size: 5.5vh;
											margin-left: 2vw;
										}

										.starting-balance {
											height: 9vh;

											grid-template-rows: auto;

											h3 {
												font-size: 2vh;
											}

											h2 {
												font-size: 4vh;
											}
										}
									}

									.league-table-container {
										grid-column: 1;
										grid-row: auto;
										height: 60vh;

										grid-template-columns: auto;
										grid-template-rows: 8vh 52vh;
 									}

									.league-right {
										grid-row: 2;
										justify-self: right;

										.league-data {
											grid-row: 1/3;

											justify-self: right;
											margin-top: 2.5vh;

											height: 33vh;
											width: 18vw;
											margin-right: 2vw;

											table {
												width: 18vw;

												td {
													font-size: 1vw;
												}
											}
										}
									}
								}

								button {
									display: none;
								}
							}
						}
					}

					.sidebar, .league-sidebar {
						grid-column: 3;
						grid-row: 2;

						height: 7vh;
						width: 67vw;

						display: inherit;
						grid-template-columns: 5vw auto 5vw;
						grid-template-rows: auto;

						.nav-btn {
							align-self: start;
							padding-top: 2vh;

							background: transparent;
							font-size: 1vw;
							color: $bright-blue;
							opacity: .5;
							border: none;
						}

						.nav-btn:hover {
							opacity: 1;
							text-shadow: 1px 3px 5px $dark-grey;
							font-size: 1vw;
						}

						.nav-btn:first-of-type {
							grid-column: 1;
							grid-row: 1;

							text-align: left;
						}

						.nav-btn:last-of-type {
							grid-column: 3;
							grid-row: 1;

							text-align: right;
						}
					}

					.league-sidebar {
						margin-left: -5vw;
					}
				}
			}
		}

		.button-container {
			grid-column: 3/5;
			grid-row: 1;

			align-self: center;
			margin-right: 2vw;

			.session-buttons {

				button {
					color: $main-blue;
				}

				button:hover {
					color: $bright-blue;
					background: none;

					border-bottom: 1px solid $off-white;
				}
			}
		}
	}
}
