@import '_variables';

/*--------------------------------------------------------------
CSS Grid layout for modern browsers:
--------------------------------------------------------------*/
@supports (grid-area: auto) {
	@media screen and (min-width: 768px) {
    .masthead {
      display: grid;
      grid-template-columns: [logo] 10vw [title] 15vw [github] 5vw [personal] 5vw  [buttons] auto;
      grid-template-rows: 10vh 7vh;

			position: fixed;
			width: 100vw;
			background-color: white;
			opacity: .95;
			z-index: 3;

			margin: 0;
			height: 17vh;

	    .title {
	      grid-column: title;
	      grid-row: 1;

				justify-self: left;
				align-self: center;

				font-size: 4.5vh;

				h1 {
					padding: 0 0 0 .25vw;
				}
	    }

	    .logo {
	      grid-column: logo;
	      grid-row: 1/1;

				align-self: center;
				margin-left: auto;
				z-index: 1;

				width: 11.5vh;
				height: auto;
	    }

	    .github, .personal-page {
	      grid-row: 1/1;

				width: 5vh;
				height: auto;

				position: absolute;
			  left: 0;
			  bottom: 0;

				opacity: .5;
	    }

			.github {
				grid-column: github;
			}

			.personal-page {
				grid-column: personal;
			}

			.github:hover, .personal-page:hover {
				opacity: 1;
			}

			.button-container {
				grid-column: buttons;
				grid-row: 1/1;
			}

			.top-nav {
				grid-column: 1/6;
				grid-row: 2/2;

				padding-top: 2vh;
				background-color: $dark-grey;

				.nav-link {
					float: left;
					color: $off-white;
					font-size: 110%;
					padding: 0 1%;
				}

				.nav-link:nth-child(4) {
					float: right;
					margin-right: 5%;
				}

				.nav-link:hover {
					color: $bright-blue;
					text-shadow: 2px 2px 4px black;
				}
			}
		}

		.session-buttons {
			display:inline-block;
			float: right;

			.button {
				padding-bottom: 0;

				font-size: 2.5vh;
				color: $grey;

				border: none;
				border-bottom: 1px solid $background-green;
				background-color: $transparent;
			}

			.button:hover {
				border-bottom: 1px solid $bright-blue;
			}
		}
  }
}
