@supports (grid-area: auto) {
	@media screen and (min-width: 768px) {
    .session-modal {

			display: grid;
			grid-template-rows: 15% 15% auto;

			.session-toggle {
				grid-row: 1;
				justify-self: center;

				background-color: $transparent-white;
				border: 1px solid $off-white;
				border-radius: 5px;
				font-size: 100%;
				width: 50%;
			}

			.session-toggle:hover {
				border: 1px solid $background-blue;
				font-size: 105%;
			}

			.session {
		    justify-self: center;
				grid-row: 3;

				display: grid;
				grid-template-columns: auto;

				.session-input {
					grid-column: 1;

					input {
						display: block;
						padding: 5%;
						margin: 5%;
						font-size: 100%;
					}

					input[type="submit"] {
						background-color: $dark-blue;
						color: $off-white;
						border-radius: 5px;
						font-size: 100%;
						display: block;
						margin-right: auto;
						margin-left: auto;
					}

					input[type="submit"]:hover {
						border: 2px solid $dark-grey;
						font-size: 105%;
					}
				}

				ul {
					grid-column: 2;

					li:hover {
						color: $dark-blue;
						font-size: 110%;
					}
				}
			}

    }
  }
}
