@import '_variables';

/*--------------------------------------------------------------
CSS Grid layout for modern browsers:
--------------------------------------------------------------*/
@supports (grid-area: auto) {
	@media screen and (min-width: 768px) {
		.stock-show {
			width: 100vw;
			height: 100vh;

			display: grid;
			grid-template-columns: auto;
			grid-template-rows: auto;
			overflow-y: scroll;

			background-color: $transparent-white;

			.stock-data {
				max-width: 95vw;
				grid-column: auto;
				grid-row: auto;
				margin-top: 1%;

				display: inherit;
				grid-template-columns: repeat(10, 1fr);
				grid-template-rows: auto;
				grid-gap: 1%;

				.header-container {
					grid-column: 1/6;
					row: 1/2;
					width: auto;

					display: grid;
					grid-template-columns: repeat(3, 1fr);
					grid-template-rows: repeat(3, 1fr);

					.stock-header {
						grid-column: 1/4;
						grid-row: 1/4;

						display: grid;
						grid-template-columns: repeat(5, 1fr);
						grid-template-rows: 1fr 1fr .25fr;
						grid-column-gap: 1%;
						grid-row-gap: 2%;
						margin-bottom: 20%;

					  .top {
							grid-column: 1/6;
							grid-row: 1;

							display: grid;
							grid-template-columns: 1fr 3fr;
							grid-template-rows: auto;

							.logo {
								grid-column: 1;
								width: 50%;
								height: auto;
								align-self: center;
								justify-self: center;
								padding:1px;
								border:1px solid $dark-grey;
								background-color: $off-white;
							}

							.name {
								grid-column: 2;
								align-self: center;
								justify-self: left;
								font-size: 200%;
								font-family: Oswald;
							}
						 }

						.data {
							grid-column: 1/6;
							grid-row: 2/2;

							display: inherit;
							grid-template-columns: auto;

							.price {
								grid-column: 1/3;
								grid-row: 2;

								display: inherit;
								grid-template-rows: auto;

								div {
									grid-row: 3;
									justify-self: center;
									font-size: 250%;
									margin-top: -25%;
								}
							}

							div.total {
								grid-column: 4;
								grid-row: 2;

								display: inherit;
								grid-template-rows: auto;

								div {
									grid-row: 2;
									justify-self: center;
									font-size: 200%;
									margin-top: -25%;
								}
							}

							div.percent {
								grid-column: 3;
								grid-row: 2;

								display: grid;
								grid-template-rows: auto;

								div {
									grid-row: 2;
									justify-self: center;
									font-size: 200%;
									margin-top: -25%;
								}
							}
						}

						.time {
							grid-column: 1/5;
							margin-left: 5%;
						}
					}

					.button {
						grid-column: 3/4;
						grid-row: 1;

						width: 50%;
						height: 50%;
						justify-self: center;
						align-self: center;
						z-index: 1;

						border: none;
					}
				}

				.summary-transaction {
					grid-column: 8/11;
					grid-row: 3/5;
					grid-row-gap: 3%;

					display: inherit;
					grid-template-columns: auto;
					grid-template-rows: auto auto auto;

					.stock-summary {
						grid-column: 1/4;
						grid-row: 1;

						width: 75%;
						justify-self: center;
						align-self: center;
						background-color: $transparent-white;
						border: 1px solid $background-grey;

						h2 {
							border-bottom: 1px solid $background-grey;
							padding: 0;
						}

						table {
							margin: 5% auto;
						}
					}

					.button {
						grid-column: 1/4;
						grid-row: 2/3;
						z-index: 1;

						width: 25%;
						justify-self: right;
						padding: 0;
						border: none;
						margin: 50% 10% 0 0;
						opacity: .5;
					}

					.button:hover {
						opacity: 1;
					}

					.transaction-data {
						grid-column: 1/3;
						grid-row: 2/4;

						background-color: $background-blue;
						border-radius: 2%;
						display: inherit;
						grid-template-columns: auto;
						grid-template-rows: auto;
						justify-content: center;

						.transaction-table {
							grid-column: 1/3;
							grid-row: 1;

							height: 600px;
							overflow-y: scroll;
							h1 {
								text-align: left;
							}
						}
					}
				}

				.company-data {
					grid-column: 1/5;
					grid-row: 2/3;
					width: 90%;
					justify-self: center;

					display: grid;
					grid-template-columns: 1fr 4fr 1fr;
					grid-template-rows: .2fr 1fr 3fr .5fr;
					background-color: $news-transparent;

					h2 {
						grid-column: 1/4;
						grid-row: 1;
						font-size: 150%;
						text-align: left;
						padding: 0 0 0 10%;
						color: $dark-grey;
						background-color: $news-transparent;
						border-bottom: 1px solid $dark-grey;
					}

					p {
						grid-column: 1/4;
						grid-row: 2;
						padding: 0 5%;
					}

					table {
						grid-column: 2/3;
						grid-row: 3;
						height: 90%;
					}

					div {
						grid-column: 1/3;
						grid-row: 4;
						padding-left: 10%;

						font-family: Martel;

						a:visited {
							text-decoration: none;
						}
					}
				}

				.peer-data {
					grid-column: 6/10;
					grid-row: 1;
					width: auto;

					h2 {
						text-align: left;
						padding: 0 0 0 5%;
						color: $dark-grey;
						background-color: $news-transparent;
						border-left: 1px solid $dark-grey;
						border-top: 1px solid $dark-grey;
						border-right: 1px solid $dark-grey;
					}
				}

				.chart-earnings {
					grid-column: 5/11;
					grid-row: 2/3;

					display: inherit;
					grid-template-columns: auto;
					grid-template-rows: 1fr 2fr;

					.earnings-table {
						grid-column: auto;
						grid-row: 1;
						height: 66%;
						width: 95%;

						display: grid;
						grid-template-columns: 10% auto;
						grid-template-rows: auto;

						table {
							grid-column: 1/3;
							grid-row: 1;
							border: none;

							th, td {
								padding: 1% 2%;
							}

							thead {
								background: $transparent-white;

								th:first-child  {
									font-family: Quattrocento;
									font-size: 110%;
									font-style: normal;
									padding-left: 1%;
								}

								th:not(:first-child)  {
									color: $blue-grey;
									font-weight: normal;
								}
							}

							tbody {
								.side-head {
									background: $transparent-white;
									color: $blue-grey;
									font-weight: normal;
									font-style: italic;
									text-align: left;
									width: 15%;
									border-top: 1px solid $table-outline;
									border-bottom: 1px solid $table-outline;
								}

								td {
									text-align: center;
								}
							}
						}
					}

					.chart-container {
						grid-column: auto;
						grid-row: 2;
						height: 100%;
						width: 95%;
						padding-top: 5%;

						display: inherit;
						grid-template-columns: auto;
						grid-template-rows: auto;

						.button {
							grid-column: 1;
							grid-row: 1;
							z-index: 2;

							justify-self: right;
							margin-right: 5%;
							width: 20%;
							height: 7.5%;
							font-size: 75%;
							opacity: .5;
						}

						.button:hover {
							opacity: 1;
							border: none;
						}

						.chart {
							grid-column: 1;
							grid-row: 1;
							z-index: 1;
						}
					}
				}

				.financials-table {
					grid-column: 1/8;
					grid-row: 3/5;
					width: 95%;
					margin-left: 1%;

					thead {
						background: $transparent-white;
						width: 200%;

						th  {
							font-family: Quattrocento;
							font-size: 150%;
							font-style: normal;
						}

						td {
							color: $blue-grey;
							font-weight: normal;
							text-align: left;
							text-transform: none;
						}
					}

					tbody {
						.sub-head {
							background: $transparent-white;

							td {
								text-align: left;
								color: $dark-blue;
								font-size: 120%;
							}

							th {
								color: $blue-grey;
								font-weight: normal;
								font-style: italic;
							}
						}

						td {
							text-align: center;
						}

						.side-head {
							background: $transparent-white;
							color: $blue-grey;
							font-weight: normal;
							font-style: italic;
							text-align: left;
							width: 15%;
							padding-left: 5%;
							border-top: 1px solid $table-outline;
							border-bottom: 1px solid $table-outline;
						}
					}
				}
				.news {
					grid-column: 2/10;
					grid-row: 5/6;

					width: 90%;
					justify-self: center;
					background-color: $news-back;
					border-radius: 2%;

					display: grid;
					grid-template-areas: "title"
															 "subtitle"
															 "stories";

					h1, h3, h4 {
						font-family: 'Playfair Display', serif;
						color: $dark-grey;
					}

					h1, h3 {
						text-transform: uppercase;
					}

					h1 {
						grid-area: title;
						font-size: 300%;
						font-weight: 900;
						width: 75%;
						margin-left: 12.5%;
					}

					h3 {
						grid-area: subtitle;

						font-size: 100%;
						font-weight: bold;
						font-style: italic;
						border-bottom: 2px solid;
						border-top: 2px solid;
					}

					h4 {
						grid-area: subtitle;
						margin-left: 2%;

						font-size: 75%;
					}

					h6 {
						margin: -10px 2% -5px 0;
					}

					p {
						font-family: Lora;
					}

					.story-list {
						grid-area: stories;
						width: 90%;
						align-self: center;

						h2 {
							color: $dark-grey;
							font-family: 'Martel', serif;
						}

						display: inherit;

						grid-template-columns: repeat(4, auto);
						grid-template-rows: repeat(5, auto);
						grid-gap: 4%;

						div {
							transition: transform .25s linear;

							p {
								margin-left: 5%;
							}
						}

						div:hover {
							background-color: $news-transparent;
							transform: scale(1.25);
							box-shadow: -5px 10px 10px 0px $blue-grey;
						}

						.story-0 {
							grid-column: 1/4;
							grid-row: 1;

							display: inherit;

							h2 {
								text-transform: uppercase;
								font-weight: bold;
							}

							p {
								column-count: 3;
							}
						}

						.story-1 {
							grid-column: 1/4;
							grid-row: 2/3;

							h2 {
								font-weight: bold;
							}

							p {
								column-count: 3;
							}
						}

						.story-2 {
							grid-column: 4;
							grid-row: 1/3;

							h2 {
								font-style:oblique;
							}

						}

						.story-3 {
							grid-column: 3/5;
							grid-row: 3/5;

							p {
								column-count: 2;
							}
						}

						.story-4 {
							grid-column: 1/3;
							grid-row: 3/5;

							h2 {
								font-style:oblique;
								font-weight: bold;
							}

							p {
								column-count: 2;
							}
						}
					}
				}
			}
		}
	}
}
