@import '_variables';

/*--------------------------------------------------------------
CSS Grid layout for modern browsers:
--------------------------------------------------------------*/
@supports (grid-area: auto) {
	@media screen and (min-width: 768px) {
		.stock-search-container {
			display: grid;
			grid-template-columns: 1fr 4fr 1fr;
			grid-template-rows: auto;

			.initial-search {
				grid-column: 2;
				grid-row: 1;

				justify-self: center;
				background-color: $background-grey;
				border-radius: 10% 10% 5% 5%;
				padding: 0% 3%;

				display: inherit;
				grid-template-columns: auto;
				grid-template-rows: 1fr 3fr;

				h1.initial {
					grid-column: 2;
					grid-row: 1;

					font-weight: 100;
					font-size: 200%;
				}

				h1.searched {
					display: none;
				}

				.search {
					grid-column:2;
					grid-row: 2;

					display: inherit;
					grid-template-columns: auto;
					grid-template-rows: auto;
					margin-bottom: 15%;

					input[type=text] {
						grid-column: 2/8;
						grid-row: 1;
						color: black;
						border:2px solid #ccc;
						border-radius: 5px;
						background-color: $blue-grey;
						font-size: 250%;
					}

					.submit-search {
						grid-column: 6/8;
						grid-row: 1;
						align-self: center;
						justify-self: center;

						input[type="submit"] {
							background: $background-grey;
							padding: 10%;
							font-size: 150%;
							color: $blue-grey;
							border-color: $blue-grey;
							border-style: solid;
							border-radius: 5px;
						}

						input[type="submit"]:hover {
							background: $blue-grey;
							color: $background-grey;
							border-color: $background-grey;
						}
					}
				}
			}
		}
	}

		.side-search {
			grid-column: 1fr;
			width: auto;

			display: grid;
			grid-template-rows: auto;
			justify-content: center;
			align-content: start;
			background-color: $background-grey;
			padding: 0% 3%;

			h1.searched {
				grid-row: 1;
				color: $pale-green;
			}

			h1.initial {
				display: none;
			}

			.search {
				grid-row: 2;
				display: grid;

				grid-template-columns: auto;
				grid-template-row: auto;

				input[type=text] {
					grid-column: 1;
					grid-row: 1;
					width: 80%;
					color: black;
					border:2px solid #ccc;
					border-radius: 5px;
					background-color: $blue-grey;
					font-size: 150%;
				}


				input[type="submit"] {
					grid-column: 1;
					grid-row: 2;
					align-self: center;

					margin-top: 15%;
					transition: transform .2s;
					padding:5px 15px;
					background: $background-grey;
					font-size: 125%;
					color: $blue-grey;
					border-color: $blue-grey;
					border-style: solid;
					border-radius: 5px;
				}

				.int-val {
				  display: inline;
				}

				label:hover .search-val {
				  display: inline;
				}

				label:hover .int-val {
				  display: none;
				}

				.search-val {
				  display: none;
				}
			}

			.stock-summary {
				display: none;
			}

			.chart-container {
				height: 100%;
				justify-content: center;
				margin-left: 30%;
			}

			.initial {
				display: none;
			}
		}

		.hide-search {
			h1.searched {
				grid-column: 1;
				grid-row: 1;

				color: $blue-grey;
				margin-left: -50px;
				margin-top: 33px;
				margin-right: -50px;
				font-size: 125%;
				transform: rotate(270deg);
			}

			.initial {
				display: none;
			}

			.search {
				display: none;
			}

			.stock-show {
				grid-column: 2;
				grid-row: auto;

				width: auto;
				height: 100vh;
			}
		}

		.suggestion-container {
			grid-column: 1;
			grid-row: 3;

			background-color: $transparent;
			.search-suggestions {
				color: red;
			}
	}
}
