@import '_variables';

/*--------------------------------------------------------------
CSS Grid layout for modern browsers:
--------------------------------------------------------------*/
@supports (grid-area: auto) {
	@media screen and (min-width: 768px) {
		.stock-search-container {
			display: grid;
			height: 100vh;

			grid-template-columns: auto auto auto 2%;
			grid-template-rows: auto;
		}

		.initial-search {
			grid-column: 2;
			justify-self: center;
			margin-top: 5%;
			height: 33%;

			display: inherit;
			grid-template-rows: 33% auto;

			background-color: $background-grey;



			h1 {
				grid-row: 1;
				color: $pale-green;
			}

			.search {
				display: inherit;

				grid-auto-columns: 12.5%;
				grid-template-rows: auto;
				margin-bottom: 15%;

				input[type=text] {
					grid-column: 2/8;
					grid-row: 1;
					color: black;
					border:2px solid #ccc;
					border-radius: 5px;
					background-color: $blue-grey;
					font-size: 250%;
				}

				input[type="submit"] {
					grid-column: 6/8;
					grid-row: 1;
					height: 66%;
					align-self: center;
					background: transparent;
					font-size: 125%;
					color: $dark-grey;
					margin: 5px;
					border: none;
				}

				input[type="submit"]:hover {
					background: $background-grey;
					color: $pale-green;
					border-radius: 10px;
					opacity: .66;
				}
			}

			form.intervals {
				grid-column: auto;
				grid-row: 3;
				color: $pale-green;

				button {
					margin: 1px;
					transition: transform .2s;
					padding:5px 15px;
					background: $background-grey;
					color: $blue-grey;
					border-color: $blue-grey;
					border-style: solid;
					border-radius: 5px;
				}

				button:hover {
					transform: scale(1.5);
				}
			}

			label {
				display: none;
			}
		}
	}
}
