@import '_variables';

/*--------------------------------------------------------------
CSS Grid layout for modern browsers:
--------------------------------------------------------------*/
@supports (grid-area: auto) {
	@media screen and (min-width: 768px) {
		.stock-show {
			width: auto;
			height: 100vh;

			display: grid;
			grid-template-columns: auto;
			grid-template-rows: auto;
			overflow-y: scroll;

			background-color: $transparent-white;

			.stock-data {
				grid-column: auto;
				grid-row: auto;

				display: inherit;
				grid-template-areas: "head head side side"
														 "summ comp side side"
														 "chart chart chart chart"
														 "news news news news";
				grid-gap: 1%;


				.stock-header {
					grid-area: head;
					width: auto;

					display: grid;
					grid-template-columns: auto auto auto;
					grid-template-rows: auto;

					grid-template-columns: repeat(4, 25%);
					grid-template-rows: auto;
					grid-column-gap: 1%;
					grid-row-gap: 2%;


					.logo {
						grid-column: 1/1;
						grid-row: 1;
						width: auto;
						height: auto;
						padding:1px;
						border:1px solid $dark-grey;
						background-color: $off-white;
					}

					.name {
						grid-column: 2/4;
						grid-row: 1;

						align-self: center;
						justify-self: left;
						font-size: 250%;
					}

					.price {
						grid-column: 1;
						grid-row: 2;

						display: inherit;
						grid-template-rows: auto;

						div {
							grid-row: 2;
							justify-self: center;
							font-size: 300%;
						}
					}


						div.total {
							grid-column: 2;
							grid-row: 2;

							display: inherit;
							grid-template-rows: auto;

							div {
								grid-row: 2;
								justify-self: center;
								font-size: 200%;
							}
						}

						div.percent {
							grid-column: 3;
							grid-row: 2;

							display: grid;
							grid-template-rows: auto;

							div {
								grid-row: 2;
								justify-self: center;
								font-size: 200%;
							}

						}

					.time {
						grid-column: 1/3;
						margin-left: 15%;
					}
				}

				.side-data {
					grid-area: side;

					display: inherit;
					grid-template-columns: auto;
					grid-template-rows: 10% auto auto;
					overflow-y: scroll;
					justify-content: center;

					.transaction-button {
						grid-column: 1;
						grid-row: 1;
						justify-self: center;

						background-color: $background-grey;
						color: white;
						margin: 5px;
						text-align: center;
						text-decoration: none;
						padding: 10px 15px;
						display: inline;
						font-size: 12px;
						border-radius: 12px;
					}

					.transaction-data {
						grid-column: 1;
						grid-row: 2;
						justify-self: center;
						width: 100%;

						overflow-y: scroll;
					}


				}

  			.company-data {
					grid-area: comp;
					justify-self: center;
				}

				.stock-summary {
					grid-area: summ;
					justify-self: center;
				}

				.chart-container {
					grid-area: chart;
					justify-self: center;
					width: 80%;
				}

				.news {
					grid-area: news;
					width: 75%;
					justify-self: center;
				}
			}
		}
	}
}
