table {
  table-layout: fixed;
  font-family: 'Oswald', sans-serif;
  border: 1.5px solid $dark-grey;
  border-collapse: collapse;
  width: auto;

  th, td {
    padding: 1vh .75vw ;
  }

  thead {
    text-transform: uppercase;
    font-family: inherit;
    color: $dark-blue;
    font-style: italic;
    text-align: center;
    background: $transparent-white;
    border-bottom: 1px solid $dark-grey;

    .ranking {
      pointer-events: none;
      justify-self: center;
    }

    a {
      display: ruby;
    }
  }

  tbody {
    background-color: white;

    tr {
      background-color: $pale-green;
      td:first-of-type {
        font-style: italic;
        font-weight: bold;
        font-family: Quattrocento;
      }

      td:not(first-of-type) {
        font-family: Martel;
        color: $grey;
        font-size: 2vh;
      }
    }

    tr:nth-child(even) {
      background-color: $background-blue;
    }

    .logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 33%;
      width: 33%;
    }

    .logo:hover {
      cursor: pointer;
    }

    td {
      text-align: center;
    }
  }
}
