@supports (grid-area: auto) {
	@media screen and (min-width: 768px) {
    .user-show-container {
			display: grid;

      grid-template-columns: 5% auto 5%;
      grid-template-rows: auto;
      height:100vh;
      overflow-y: scroll;


			.user-show {
				grid-column: 2/3;
				grid-row: 1/4;

				background-color: $background-grey;
				display: grid;

			  grid-template-columns: 20% auto;
			  grid-template-rows: 35% auto;

				.avatar {
					grid-column: 1;
					grid-row: 1/2;

					background-color: $background-blue;

					display: grid;
					grid-template-columns: auto;
					grid-template-rows: 5% auto;

					img {
						grid-column: 1;
						grid-row: 2;
						border-radius: 50%;
					}

					h1 {
						grid-column: 1;
						grid-row: 1;

						background-color: $transparent-white;
						text-shadow: 2px 2px 2px $off-white;
						line-height: 20%;
					}
				}

				.user-league-index {
					grid-column: 1/3;
					grid-row: 1/3;

					display: inherit;
					grid-template-columns: inherit;
					grid-template-rows: inherit;

					.joined-leagues {
						grid-column: 1;
						grid-row: 2;
						overflow-y: scroll;

						background-color: $transparent-white;

					  .league-data {
							h1 {
								font-size: 133%;
								text-align: left;
								margin-left: -25%;
								margin-bottom: -10%;
							}

							h3 {
								display: none;
							}
						}

						.league-data:hover {
							h1 {
								font-size: 150%;
								text-shadow: -1px -1px 1px $blue-grey;
							}

							h3 {
								display: block;
								font-size: 100%;
								text-align: left;
								margin-left: -25%;
								margin-bottom: -10%;
							}
						}

						.league-data-active {
							opacity: .66;

							h1 {
								font-size: 133%;
								text-align: left;
								margin-left: -25%;
								margin-bottom: -10%;
								color: $dark-grey;
							}

							h3 {
								display: block;
								font-size: 100%;
								text-align: left;
								margin-left: -25%;
								margin-bottom: -10%;
							}
						}
					}

					.league-portfolio {
						grid-column: 2;
						grid-row: 1/3;

						h1, h3 {
							display: inline;
						}
					}
				}
			}
    }
  }
}
