$blue-grey: #545E75;
$dark-grey: #333;
$main-blue: rgba(#507dbb, 0.75);
$bright-blue: #3383f1;
$pale-green: #77878B;
$background-green: rgba(#77878b, 0.5);
$dark-blue: #003a60;
$background-blue: rgba(#2c5e7e, 0.5);
$dark-green: #2E382E;
$mid-red: #C03221;
$off-white: #f2f2f2;
$transparent-white: rgba(#f2f2f2, 0.90);
$grey: rgb(24, 33, 41);
$background-grey: rgba(24, 33, 41, 0.77);
$news-back: #f9f7f1;
$news-transparent: rgba(#f9f7f1, 0.75);
$transparent: rgba(255, 255, 255, 0);
$table-outline: rgba(#333333, 0.15);
$heading-border: rgba(#b8e0fa, 0.5);
$suggestion-bg: rgba(27, 30, 38, 0.75);
