$blue-grey: #545E75;
$dark-grey: #333;
$main-blue: rgba(#507dbb, 0.75);
$pale-green: #77878B;
$dark-blue: #003a60;
$background-blue: rgba(#2c5e7e, 0.5);
$dark-green: #2E382E;
$mid-red: #C03221;
$off-white: #f2f2f2;
$transparent-white: rgba(#f2f2f2, 0.66);
$grey: rgb(24, 33, 41);
$background-grey: rgba(24, 33, 41, 0.77);
